<h1 class="jumbotron" id="magenta">Login</h1>

<div class="container">
    <form name="loginForm" ng-submit="login.loginAttempt(user)">

        <p id="error-message" ng-show="login.loginError" class="bg-danger">Incorrect username and/or password</p>

        <div class="form-group">
            <label for="messageInput">Username</label>
            <input type="text" class="form-control" id="username" ng-model="user.username" ng-minlength="4" ng-maxlength="15" required>

            <label for="messageInput">Password</label>
            <input type="password" class="form-control" id="password" ng-model="user.password" ng-minlength="4" ng-maxlength="15" required>

        </div>
        <button type="submit" class="btn btn-primary" ng-disabled="!loginForm.$valid">Submit</button>

        <!--<p id="error-message" class="bg-danger">{{login.errorMsg}}</p>-->
    </form>

</div>