<h1 class="jumbotron" id="magenta">Push Notifications</h1>

<div class="container">
    <!--http://getbootstrap.com/css/#forms-->
    <p id="primary-message" class="bg-primary">There are currently {{notify.userCount}} registered devices.</p>

    <p id="success-message" ng-show="notify.notifySuccess" class="bg-success">Push sent!</p>
    <p id="error-message" ng-show="notify.notifyError" class="bg-danger">Push error!</p>
    <p id="warning-message" ng-show="notify.notifyWarning" class="bg-warning">Push sending...</p>

    <form name="pushForm" ng-submit="notify.sendPush(push)">
        <div class="form-group">
            <label for="messageInput">Message</label>
            <input type="text" class="form-control" id="messageInput" placeholder="Enter message here" ng-model="push.message" ng-minlength="5"
            ng-maxlength="200" required>
        </div>
        <button type="submit" class="btn btn-primary" ng-disabled="!pushForm.$valid">Submit</button>
    </form>

    <br>
    <br>

    <table class="table table-striped">
        <tr>
            <th>Time Sent</th>
            <th>Message</th>
            <th>Status</th>
            <!--<th>Message ID</th>-->
        </tr>

        <tr ng-repeat="message in notify.messages track by message.message_id">
            <!--| orderBy : '-timeStamp' track by message.message_id">-->
            <!--track by message.message_id |-->
            <!--// track by notify.message_id  | orderBy : '-timeStamp'"-->
            <td>{{ message.timeStamp | date : 'medium' }}</td>
            <!--EEE MMM dd yyyy hh:MM-->
            <td>{{ message.message }}</td>
            <td>{{ message.result }}</td>
            <!--<td>{{ message.message_id }}</td>-->
        </tr>
    </table>

    <!--<button ng-click="notify.debugLog()">debug</button>-->

</div>